{%  extends "templates/web.html" %}

{% block page_content %}

<div class="py-20 row">
    <div class="col-sm-2">
        <img alt="{{ title }}" src="{{ image }}"/>
    </div>
    <div class="col">
        <h1>{{ title }}</h1>
        <p class="lead">By {{ author }}</p>
        <div>

            {%- if status == 'Available' -%}
                <span class="badge badge-success">Available</span>
                <a href="/library-transaction/new?article={{ title }}&type=Issue" class="btn btn-primary mt-3">Buy Now</a>
            {%- elif status == 'Issued' -%}
                <span class="badge badge-primary">Issued</span>
                <a href="/library-transaction/new?article={{ title }}&type=Return&library_member={{custom_issued_member }}" class="btn btn-secondary mt-3">Return Book</a>
            {%- endif -%}

        </div>
        <div class="mt-4">
            <div>Publisher: <strong>{{ publisher }}</strong></div>
            <div>ISBN: <strong>{{ isbn }}</strong></div>
        </div>
        <p>{{ description }}</p>
    </div>
</div>

{% endblock %}
